
						<div class="container">
							
								<div class="row">
									<div class="col-md-12 text-center prt_bottompadder40 ">
										<div class="port_hadding_style_sec ">
											<h2 class="port_head_wrapper">My Contact</h2>
										</div>
									</div>
									<div class="col-12">
										<div class="port_contact_form">
											<form action="nuevo-proyecto" method="POST" >
												<div class="row">
													<div class="col-sm-6">
														  <div class="form-group">
															<input type="text" name="nombre" class="form-control require" id="nombre" placeholder="nombre" required="nombre">
														  </div>
													</div>
													<div class="col-sm-6">
														  <div class="form-group">
															<input type="text" name="categoria" class="form-control require" id="categoria" placeholder="categoria">
														  </div>
													</div>
													<div class="col-sm-6">
														  <div class="form-group">
															<input type="text" name="url" class="form-control require" id="url" placeholder="Coloca la URL">
														  </div>
													</div>
													<div class="col-sm-6">
														  <div class="form-group">
															<input type="file" name="imagen" class="form-control require" id="imagen" placeholder="Coloca una imagen">
														  </div>
													</div>
													
													
													<div class="col-12">
														<div class="banner_btn">
															<input type="submit" value=" Agregar" class="portfolio_btn btn_red submitForm">
															
														</div>
													</div>
													<div class="response"></div>
												</div>
											</form>
										</div>	
									</div>
								</div>
						
					</div><!-- End Contact section  -->